package input, package input:focus,
package textarea, package textarea:focus,
package .btn-clean-text, package .btn-clean-text:focus {
    /* form-control */
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    outline: none;
    border:0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: 0px 5px 5px -4px #f1f1f1;
    -moz-box-shadow: 0px 5px 5px -4px #f1f1f1;
    box-shadow: 0px 5px 5px -4px #f1f1f1;
}